/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}
/* === Layout Defaults === */

main {
    margin-top: 3.5rem; // Push content below sticky header
  }
  